:root {
    --blue: #1D2840;
    --font: #f5f5f5;
    --white: #ffffff;
    --black: #0b0b0b;
}

h1,
h2,
h3 {
    margin: 5px 0;
    display: inline-block;
}

html {
    font-family: "Kelly Slab", "Roboto Slab", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--font);
    scroll-behavior: smooth;
}

body {
    background-color: var(--blue);
    box-shadow: inset 0px -32px 99px var(--black);
    margin: 0;
    scroll-behavior: smooth;
    min-width: 340px;
    overflow-x: hidden;
}

main {
    margin: 0 auto;
    box-shadow: inset 0px -32px 99px var(--black);
}

section {
    padding: 0 35px;
    box-shadow: inset 0px -32px 99px var(--black);
}

section div:first-child {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: var(--white);
    color: var(--blue);
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 35px;
    align-items: center;
}

nav h2 {
    margin: 0rem;
}

nav .navbar__icon img {
    height: 23px;
    width: 24px;
    cursor: pointer;
}

nav .navbar__logo {
    font-size: 25px;
}

nav .navbar__menu li {
    list-style: none;
    margin: 0;
    color: var(--blue);
    display: block;
}

nav .navbar__menu li a {
    display: inline-block;
    margin: 25px 0;
    font-size: 25px;
    color: var(--font-color);
    text-decoration: none;
}

.navbar .navbar__menu {
    position: fixed;
    left: -100%;
    top: 0;
    text-align: center;
    transition: 0.3s ease;
}

.navbar .navbar__menu.active {
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--white);
    margin-top: 40px;
    padding: 30px 0 0 0;
    z-index: 99;
}

main section:first-child {
    min-height: 780px;
    max-height: 1040px;
}

.podheader {
    min-height: calc(100vh - 40px);
    max-height: 1040px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.podheader h1 {
    font-size: 23px;
}

.podheader h3 {
    font-size: 35px;
}

.podheader__title {
    padding: 1.7em 2em 0 2em;
    text-align: right;
    width: fit-content;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.podheader__caption p {
    margin-bottom: 0;
}

.podheader__caption {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 1.375rem;
}

.podheader .icon {
    margin-top: 15px;
    opacity: 0.6;
    transition: 0.3s;
}

.podheader .icon:hover {
    opacity: 1;
    transition: 0.3s;
}

.podheader__caption .icon a {
    text-decoration: none;
    color: white;
}

.photo__block {
    margin: 2em 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.photo__block a {
    display: block;
}

.photo__block .photo--big {
    max-width: 350px;
    margin: 0 auto;
}

.photo__block .photo--big img {
    width: 100%;
}

.arrow {
    cursor: pointer;
    height: 20px;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.1s;
    width: 20px;
}

.arrow__top,
.arrow__bottom {
    background-color: #666;
    height: 4px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.arrow__top:after,
.arrow__bottom:after {
    background-color: #fff;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}

.arrow__top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.arrow__top:after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}

.arrow__bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}

.arrow__bottom:after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}

.arrow:hover .arrow__top:after {
    left: 0;
    transition-delay: 0.15s;
}

.arrow:hover .arrow__bottom:after {
    right: 0;
    transition-delay: 0s;
}

.arrow:active {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
}


button,
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border: 2px solid var(--white);
    border-radius: 10px;
    height: 36px;
    width: 110px;
    line-height: 34px;
    font-size: 20px;
    font-family: "Kelly Slab", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: color 0.3s;
    padding: 0 18px;
    text-align: center;
}

button.btn-primary:hover,
.button.btn-primary:hover,
.button.btn-primary:focus {
    color: var(--blue);
    background-color: var(--white);
}

button.btn-primary,
.button.btn-primary {
    color: var(--white);
    background-color: transparent;
    transition: 0.4s;
}

.btn_block {
    text-align: center;
    margin: 1em 0;
}

input.button {
    width: 100%;
    box-sizing: border-box;
}

.photo__block .photo--small {
    width: 70%;
    margin: 0 auto;
    max-width: 300px;
}

.photo__block .photo--small img {
    width: 100%;
}

.header--big {
    font-size: 2rem;
    text-align: center;
}

svg {
    margin-bottom: 20px;
}

.block--dark {
    background-color: #0B0B0B;
    padding: 15px 35px;
}

.block-small {
    padding: 15px 35px;
}


.header--line {
    display: inline-block;
    padding: 0 40px 0 0;
}

.header--small {
    font-size: 28px;
    padding: 10px 20px 0 0;
    margin: 0;
}

.header--biggest {
    font-size: 2.4rem;
}

.glide img {
    width: 100%;
    max-height: 300px;
}

.glide__slide_2 img {
    border: 1px solid;
}

.glide__slide {
    max-height: 300px;
    width: 300px !important;
}

.glide__track {
    max-width: 800px;
    margin: 0 auto;
}

.shop_list {
    margin: 0;
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: column;
}

.shop_list .shop_list__item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 1em 0 1em 0;
    align-items: center;
}

.shop_list .shop_list__item a {
    font-size: 25px;
    text-decoration: none;
    color: var(--font);
}

.podpodheader__title {
    margin: 5px 0;
}

footer .row-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.row-list .row-list__item {
    list-style: none;
    font-size: 15px;
    position: relative;
    margin: 0 10px;
    white-space: nowrap;
}

.row-list .row-list__item a::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    display: block;
    height: 100%;
    width: 1.5px;
    background-color: white;
}

.row-list .row-list__item:last-child a::after {
    display: none;
}

.block--center {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

figcaption {
    position: relative;
    text-align: center;
}

figcaption p {
    margin: 0;
    font-size: 1.375rem;
}

footer p {
    margin: 0;
    text-align: center;
    padding: 1em;
    font-size: 13px;
}

.block--bg {
    box-shadow: inset 0px -32px 99px var(--black);
}

#welcome p {
    margin-bottom: 0;
}

#edice {
    padding-bottom: 35px;
}

.animation {
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 140px;
}

:root {
    --delay: 0;
    --duration: 800ms;
    --iterations: 1;
}

.reveal-text,
.reveal-text::after {
    animation-delay: var(--animation-delay, 2s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal-text {
    --animation-delay: var(--delay, 0);
    --animation-duration: var(--duration, 800ms);
    --animation-iterations: var(--iterations, 1);
    position: relative;
    animation-name: clip-text;
    color: #fff;
    cursor: default;
}

.reveal-text::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: text-revealer;
}

@keyframes clip-text {
    from {
        clip-path: inset(0 100% 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes text-revealer {

    0%,
    50% {
        transform-origin: 0 50%;
    }

    60%,
    100% {
        transform-origin: 100% 50%;
    }

    60% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

@media (min-width: 500px) {
    .animation {
        width: 60%;
        height: 60%;
    }
}

@media (min-width: 760px) {
    header nav {
        padding: 8px 50px;
    }

    section {
        padding: 15px 35px 0 35px;
    }

    .navbar .navbar__btn, .navbar .navbar__menu.active .navbar__btn {
        display: none;
    }

    .navbar .navbar__logo, .navbar .navbar__menu.active .navbar__logo {
        order: 1;
    }

    .navbar .navbar__icon, .navbar .navbar__menu.active .navbar__icon {
        order: 3;
    }

    .navbar .navbar__menu, .navbar .navbar__menu.active {
        position: static;
        height: 100%;
        width: auto;
        display: flex;
        padding: 0px;
        order: 2;
        margin: 0;
    }

    .navbar .navbar__menu li, .navbar .navbar__menu.active li {
        list-style: none;
        display: inline-block;
        margin: 0 1.7em;
        padding: 0;
    }

    .navbar .navbar__menu li a, .navbar .navbar__menu.active li a {
        margin: 0;
        font-size: 20px;
    }

    .navbar .navbar__menu li:hover, .navbar .navbar__menu.active li:hover {
        color: rgb(104, 104, 104);
        transition: 0.3s;
    }

    main .block--bg:first-child {
        background: var(--blue);
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #172033, #354a76);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #172033, #354a76);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .podheader__title {
        padding: 35px 50px 0 0;
    }

    .podheader h1 {
        font-size: 30px;
    }

    .podheader h2 {
        font-size: 27px;
    }

    .photo__block .photo--small {
        width: 50%;
    }

    button.btn-primary,
    .button.btn-primary {
        max-width: 300px
    }

    .btn--left {
        text-align: left;
    }

    .header--line::after {
        display: block;
        content: "";
        height: 1px;
        margin-top: 5px;
        width: 100%;
        background-color: var(--white);
    }

    .header--line::after {
        width: 150%;
    }

    .header--small {
        font-size: 30px;
    }

    svg {
        margin-bottom: 25px;
        width: 40px;
        height: 40px;
    }

    .arrow {
        height: 25px;
        width: 25px;
    }

}

@media (min-width: 1024px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }

    section {
        padding: 15px 45px 0 45px;
    }

    .block-small {
        padding: 15px 45px;
    }

    .block--dark {
        padding: 15px 45px;
    }

    main section:first-child {
        min-height: 700px;
    }

    .podheader {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr 1fr;
        min-height: calc(100vh - 58px);
    }

    .podheader__title {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0;
        text-align: left;
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .podheader__title h1 {
        font-size: 40px;
    }

    .podheader__title h2 {
        font-size: 30px;
    }

    .podheader__caption {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        text-align: left;
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .podheader__caption p {
        font-size: 30px;
        order: 2;
    }

    .podheader__caption h2 {
        font-size: 50px;
        order: 1;
        text-align: left;
    }

    .podheader__caption .icon {
        width: 60%;
        text-align: left;
        margin-top: 50px;
        order: 3;
    }

    .podheader__caption .icon img {
        height: 30px;
    }

    .photo__block {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .photo__block .photo--small img {
        max-height: 400px;
    }

    .photo__block .photo--small {
        width: fit-content;
    }

    footer .row-list .row-list__item {
        font-size: 16px;
    }
}


@media (min-width: 1420px) {
    .icon {
        top: 80px;
    }
}