@font-face {
    font-family: "Kelly";
    src: url(./font/KellySlab-Regular.otf);
}

:root {
    --blue: #1D2840;
    --font: #f5f5f5;
    --white: #f5f5f5;
    --black: #0b0b0b; 
}

h1, h2, h3 {
    margin: 5px;
}

html {
    font-family: "Kelly", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--font);
    scroll-behavior: smooth;
}

body {
    background-color: var(--blue);
    box-shadow: inset 0px -32px 99px var(--black);
    margin: 0;
    scroll-behavior: smooth;
}

section {
    padding: 0 35px;
}

header {
    background-color: var(--white);
    color: var(--blue);
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 35px;
    align-items: center;
}

nav .navbar__icon img {
    height: 23px;
    width: 24px;
    cursor: pointer;
}

nav .navbar__logo {
    font-size: 25px;
}

nav .navbar__menu li {
    list-style: none;
    display: inline-block;
    margin: 0;
    color: var(--blue);
}

nav .navbar__menu li a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .navbar__menu {
    position: fixed;

    left: -100%;
    top: 0;
    text-align: center;
    transition: 0.3s ease;
}

.navbar .navbar__menu.active {
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--white);
    margin-top: 50px;
    padding: 30px 0 0 0;
}

.navbar .navbar__menu li {
    display: block;
}

.navbar .navbar__menu li a {
    display: inline-block;
    margin: 25px 0;
    font-size: 25px;
    color: var(--font-color);
    text-decoration: none;
}

.podheader {
    height: calc(100vh - 50px);
    box-shadow: inset 0px -32px 99px 0px var(--black);
}

h1 {
    font-size: 23px;
}

h3 {
    font-size: 35px;
}

.photo_block {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.photo_block a {
    display: block;
    height: 100%;
}

.photo_block a img {
    height: 450px;
    width: 320px;
}

.photo_block figcaption {
    font-size: 22px;
    text-align: center;
}

.title {
    padding: 35px 0 0 0;
    text-align: right;
}

.header--big {
    font-size: 2.5rem;
}

.icon {
    position: absolute;
    left: 45%;
    margin-top: 20px;
    opacity: 0.6;
    transition: 0.3s;
}

.icon:hover {
    opacity: 1;
    transition: 0.3s;
}

.block--black {
    background-color: #0B0B0B;
}

.block-small {
    padding-bottom: 35px;
}

.header--line {
    display: inline-block;
    padding: 0 40px 0 0;
}

.header--line::after {
    display: block;
    content: "";
    height: 1px;
    margin-top: 5px;
    width: 150%;
    background-color: var(--white);
}

.header--small {
    font-size: 28px;
    padding: 10px 20px 0 0;
}

.glide img {
    height: 470px;
}

.glide ul {
    margin: 0;
}

@media (min-width: 760px) { 
    header nav {
        padding: 5px 25px;
    }
    .navbar .navbar__btn {
        display: none;
    }

    .navbar .navbar__logo {
        order: 1;
    }

    .navbar .navbar__icon {
        order: 3;
    }

    .navbar .navbar__menu {
        position: static;
        height: 100%;
        width: auto;
        display: flex;
        padding: 0px;
        order: 2;
        margin: 0;
    }

    .navbar .navbar__menu li {
        list-style: none;
        display: inline-block;
        margin: 0 1.7em;
        padding: 0;
    }

    .navbar .navbar__menu li a {
        margin: 0;
        font-size: 20px;
    }

    .navbar .navbar__menu li:hover {
        color: rgb(104, 104, 104);
        transition: 0.3s;
    }
}

@media (min-width: 1420px) {
    nav {
        max-width: 1420px;
        margin: 0 auto;
    }
}
